*.DS_Store
.DS_Store
Hashtom/.DS_Store
Hashtom/Dore 12/.DS_Store
Hashtom/Dore 12/Tamarin/.DS_Store
Hashtom/Dore 12/Tamarin/seri 1/.DS_Store
Hashtom/Dore 12/Tamarin/seri 2/.DS_Store
Hashtom/Dore 12/Tamarin/seri 3/.DS_Store
Hashtom/Dore 12/Tamarin/seri 2/.DS_Store
